# General Java Project git hygiene: Ignore transient build artifacts, local binaries,
# and dev metadata. External libraries (even custom ones) live in /lib and are tracked
# intentionally.

# Visual Studio meta data
.vscode/

# Ignore all Build artifacts
build/
*.class
*.o
*.obj

# Ignore all Mac OS meta data for folders
.DS_Store

# Ignore the compiler helper sources.txt
sources.txt